os: linux
dist: bionic
language: minimal
git:
  depth: false
before_script:
- curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
- curl -sL https://github.com/instrumenta/kubeval/releases/latest/download/kubeval-linux-amd64.tar.gz | sudo tar xz -C /usr/local/bin kubeval
script:
- find ./stable -type d -maxdepth 1 -mindepth 1 -print -exec helm dep update {} \;
- helm lint ./stable/*
- helm template ./stable/vulcan -f ./test/values.yaml | kubeval --strict --ignore-missing-schemas
- |
  mkdir $HOME/pages
  helm package ./stable/* --destination $HOME/pages
  helm repo index $HOME/pages --url https://adevinta.github.io/vulcan-charts
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: $HOME/pages
  verbose: true
  on:
    branch: master
